_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.markdownlint.json
vendor
assets/images/projets/TuringMachine/turingmachine.mp4
assets/images/projets/SaveFolder/savefolder.mp4
assets/images/projets/SaveFolder/refoutput.gif
assets/images/projets/CoreWar/corewar4.mp4
