_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
assets/images/projets/TuringMachine/turingmachine.mp4
assets/images/projets/SaveFolder/savefolder.mp4
assets/images/projets/SaveFolder/refoutput.gif
